@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 1024px;
  background-color: #0c1229;
}

aside {
  flex: 1;
}

section {
  background-image: url("../img/mask-group.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 1024px;
  width: 86.112%;
}

main {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 1024px;
}
